<div id="about" class="block background-block">
  <nav class="pushpin-demo-nav pushpin-demo-nav-left" data-target="about">
    <div class="nav-wrapper dark-nav">
      <div class="container">
        <a href="#" class="brand-logo dark-text centre-align">{{title}}</a>
      </div>
    </div>
  </nav>
  <nav class="overflow-hidden">
    <nav id="info-side-nav" class="pushpin-demo-nav pushpin-demo-nav-right z-depth-0 hide-on-med-and-down" data-target="about">
      <div class="nav-wrapper light-nav">
        <div class="container">
          <ul>
            <li><a class="dark-text" href="#!">About</a></li>
            <li><a class="dark-text" href="#!">Projects</a></li>
            <li><a class="dark-text" href="#!">Contact</a></li>
            <li><a class="dark-text" href="#!">Resume</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </nav>
  <div class="row no-margin">
    <div class="col l3 offset-l1 s10 offset-s1">
      <div class="container-text-title">
        Story
      </div>
      <div class="container-text">
        {{story}}
      </div>
    </div>
    <div class="col l4 s12">
      <div class="img-padding hide-on-med-and-down"></div>
      <div class="box">
        <div class="crop">
          <img src="../../assets/images/about.jpg">
        </div>
      </div>
    </div>
    <div class="col l3 offset-l0 s10 offset-s1">
      <div class="container-text-title">
        Details
      </div>
      <div class="container-text no-margin-important" *ngFor="let detail of details">
        <div class="container-text-highlight">
          {{detail.title}}
        </div>
        {{detail.content}}
      </div>
      <div class="container-text"></div>
    </div>
  </div>
</div>

