<div id="about" class="block background-block">
  <nav class="pushpin-demo-nav pushpin-demo-nav-left" data-target="about">
    <div class="nav-wrapper dark-nav">
      <div class="container">
        <a href="#" class="brand-logo dark-text centre-align">{{title}}</a>
      </div>
    </div>
  </nav>
  <nav class="overflow-hidden">
    <nav id="info-side-nav" class="pushpin-demo-nav pushpin-demo-nav-right z-depth-0 hide-on-med-and-down" data-target="about">
      <div class="nav-wrapper light-nav">
        <div class="container">
          <ul>
            <li><a class="dark-text" href="#!">About</a></li>
            <li><a class="dark-text" href="#!">Projects</a></li>
            <li><a class="dark-text" href="#!">Contact</a></li>
            <li><a class="dark-text" href="#!">Resume</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </nav>
  <div class="row no-margin">
    <div class="col s3 offset-s1">
      <div class="container-text-title">
        Story
      </div>
      <div class="container-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in suscipit sem. Duis et leo velit. Nullam egestas et ipsum sed sagittis. Suspendisse lacus ipsum, mollis sed metus sed, finibus accumsan lectus. Vivamus tristique, arcu in dignissim luctus, velit tellus varius tortor, vel semper urna tellus vitae sem. Nam vel lectus velit. Aliquam id pulvinar mi, vel pharetra libero. Cras condimentum ipsum sed libero efficitur, et laoreet libero consequat. Pellentesque sagittis, leo a fermentum euismod, mauris mi maximus quam, in tincidunt leo orci in neque. Proin maximus eros sapien, vestibulum venenatis lacus tincidunt ut. Nunc posuere purus a nibh posuere, at semper orci suscipit.
      </div>
    </div>
    <div class="col s4">
      <div class="box">
        <div class="crop">
          <img src="../../assets/images/about.jpg">
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="container-text-title">
        Details
      </div>
      <div class="container-text">
        <div class="container-text-highlight">
          Name:
        </div>
          Alberto Spina
        <div class="container-text-highlight">
          Age:
        </div>
        20 years old
        <div class="container-text-highlight">
          Current Employment:
        </div>
        Student, Imperial College London
        <div class="container-text-highlight">
          Location:
        </div>
        London, United Kingdom
      </div>
    </div>
  </div>
</div>

