<div id="about" class="block background-block">
  <nav class="pushpin-demo-nav pushpin-demo-nav-left" data-target="about">
    <div class="nav-wrapper dark-nav">
      <div class="container">
        <a href="#" class="brand-logo dark-text centre-align">{{title}}</a>
      </div>
    </div>
  </nav>
  <div class="overflow-hidden">
    <nav id="info-side-nav" class="pushpin-demo-nav pushpin-demo-nav-right z-depth-0 hide-on-med-and-down" data-target="about">
      <div class="nav-wrapper light-nav">
        <div class="container">
          <ul>
            <li><a class="dark-text" href="#!">About</a></li>
            <li><a class="dark-text" href="#!">Projects</a></li>
            <li><a class="dark-text" href="#!">Contact</a></li>
            <li><a class="dark-text" href="#!">Resume</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

