<div class="parallax-container parallax-container-div">
  <div class="parallax" style="z-index: 40">
    <!-- img src="./stock.jpg" -->
      <img class="black-and-white" src="../../assets/images/projects.jpg">
  </div>
</div>

<div id="projects" class="block background-block">
  <nav class="pushpin-demo-nav pushpin-demo-nav-left" data-target="projects">
    <div class="nav-wrapper dark-nav">
      <div class="container">
        <a href="#" class="brand-logo dark-text centre-align">{{title}}</a>
      </div>
    </div>
  </nav>
</div>

