<div class="full-page">
    <div class="row login-component">
        <form class="col s4 offset-s4 login-component-fill">
            <div class="login-header">LOGIN</div>
            <div class="input-field">
                <input
                    id="username"
                    type="text"
                    [(ngModel)]="username"
                    name="username"
                    placeholder=""
                />
                <label for="username" class="active">Username</label>
            </div>
            <div class="input-field">
                <input
                    id="password"
                    type="password"
                    [(ngModel)]="password"
                    name="password"
                    placeholder=""
                />
                <label for="password" class="active">Password</label>
            </div>
            <button
                class="btn waves-effect waves-light submit-button"
                type="submit"
                onclick="return false"
                (click)="submit()"
            >
                Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>
