<div class="parallax-container parallax-container-div hide-on-med-and-down">
  <div class="parallax">
    <!-- img src="./stock.jpg" -->
    <img src="../../assets/images/contact.jpg">
  </div>
</div>

<div class="hide-on-large-only half-img-container">
  <img class="img-fit" src="../../assets/images/contact.jpg">
</div>

<div id="contact" class="block background-block section scrollspy">
  <nav class="pushpin-demo-nav pushpin-demo-nav-left" data-target="contact">
    <div class="nav-wrapper dark-nav">
      <div class="container">
        <a href="#contact" id="contact-nav" class="brand-logo dark-text centre-align">{{title}}</a>
      </div>
    </div>
  </nav>

  <div class="row no-margin padding-nav">
    <div class="col s10 offset-s1">
      <div class="row no-margin">
        <div class="col s12 center">
          <div class="email-padding"></div>
          <div class="container-text-title center">
            Want to get in touch with me? Drop me an email!
          </div>
          <div class="email-padding"></div>
          <a href="mailto:alberto.spina15@imperial.ac.uk" class="dark-text">
            <img class="img-fit-sm" src="../../assets/images/email-outline-hover.png">
            <img class="img-fit-sm underlay" src="../../assets/images/email-outline.png">
            <div class="text-hover email-text">
              alberto.spina15@imperial.ac.uk
            </div>
          </a>
          <div class="email-padding-med"></div>
          <div class="divider divider-blue"></div>
          <div class="email-padding-med"></div>
          <div>
            <a href="https://github.com/swarth100" target="_blank" class="icon-spacing">
              <img class="img-fit-sm" src="../../assets/images/github-circle-hover.png">
              <img class=" img-fit-sm underlay" src="../../assets/images/github-circle.png">
            </a>
            <a href="https://www.facebook.com/alberto.spina.1996" target="_blank" class="icon-spacing">
              <img class=" img-fit-sm" src="../../assets/images/facebook-box-hover.png">
              <img class=" img-fit-sm underlay" src="../../assets/images/facebook-box.png">
            </a>
            <a href="https://www.linkedin.com/in/alberto-spina-951834148/" target="_blank" class="icon-spacing">
              <img class=" img-fit-sm" src="../../assets/images/linkedin-box-hover.png">
              <img class=" img-fit-sm underlay" src="../../assets/images/linkedin-box.png">
            </a>
          </div>
        </div>
        <div class="email-padding-end hide-on-small-only"></div>
        <div class="email-padding-mobile hide-on-med-and-up show-on-small"></div>
      </div>
    </div>
  </div>
</div>

