<div class="parallax-container parallax-container-div">
  <div class="parallax">
    <!-- img src="./stock.jpg" -->
    <img src="../../assets/images/contact.jpg">
  </div>
</div>

<div id="contact" class="block background-block section scrollspy">
  <nav class="pushpin-demo-nav pushpin-demo-nav-left" data-target="contact">
    <div class="nav-wrapper dark-nav">
      <div class="container">
        <a href="#" class="brand-logo dark-text centre-align">{{title}}</a>
      </div>
    </div>
  </nav>
</div>

