<div class="parallax-container parallax-container-div hide-on-med-and-down">
    <div class="parallax" style="z-index: 1">
        <img src="../../assets/images/{{ component_id }}.jpg" />
    </div>
</div>

<div class="hide-on-large-only half-img-container">
    <img class="img-fit" src="../../assets/images/{{ component_id }}.jpg" />
</div>

<div id="{{ component_id }}" class="block background-block section scrollspy">
    <nav class="pushpin-demo-nav pushpin-demo-nav-left" [attr.data-target]="component_id">
        <div class="nav-wrapper dark-nav">
            <div class="container">
                <a
                    href="#{{ component_id }}"
                    id="{{ component_id }}-nav"
                    class="brand-logo dark-text centre-align"
                    >{{ title }}</a
                >
            </div>
        </div>
    </nav>
    <div class="row no-margin padding-nav">
        <div class="col s10 offset-s1">
            <div class="project-row">
                <div *ngFor="let item of items" class="project-col">
                    <div class="container-text-title-left">
                        <div class="text-title-offset">
                            {{ item.title }}
                        </div>
                        <div class="title-icon-box">
                            <i class="small material-icons"
                                >insert_invitations</i
                            >
                            <div class="title-icon-box-text">
                                {{ getYear(item) }}
                            </div>
                        </div>
                    </div>
                    <div class="container-text-left">
                        {{ item.description }}
                    </div>
                    <div
                        *ngFor="
                            let link of item.links;
                            let i = index;
                            trackBy: trackByIdx
                        "
                    >
                        <a
                            href="{{ link.link }}"
                            target="_blank"
                            class="container-link-left text-hover"
                        >
                            <span> {{ link.name }} </span>
                        </a>
                        <span
                            class="no-select hide-on-med-and-down"
                            style="color: transparent"
                            >({{ i }})</span
                        >
                    </div>
                    <div class="container-link-left-padding"></div>
                </div>
            </div>
        </div>
    </div>
</div>
