<div id="about" class="block background-block">
  <nav class="pushpin-demo-nav pushpin-demo-nav-left" data-target="about">
    <div class="nav-wrapper dark-nav">
      <div class="container">
        <a href="#" class="brand-logo dark-text">{{title}}</a>
      </div>
    </div>
  </nav>
  <div class="overflow-hidden">
    <nav id="info-side-nav" class="pushpin-demo-nav pushpin-demo-nav-right z-depth-0" data-target="about">
      <div class="nav-wrapper light-nav">
        <div class="container">
          <ul class="right hide-on-med-and-down">
            <li><a class="dark-text" href="#!">About</a></li>
            <li><a class="dark-text" href="#!">Projects</a></li>
            <li><a class="dark-text" href="#!">Experience</a></li>
            <li><a class="dark-text" href="#!">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

