/* ------------------------------------------------------------------------------------------------------------------ */

$search-field-text: #000000;

$dark-pastel-yellow: #d6c5ad;
$light-pastel-yellow: #eadbc8;

$background-color: #e3e6e4;

$light-text-color: #bde2e4;
$dark-text-color: #2499a8;

/* ------------------------------------------------------------------------------------------------------------------ */
