/* ------------------------------------------------------------------------------------------------------------------ */
/* BLOCK */
html, body, .block {
  height: 100%;
  position: relative;
}

.background-block {
  background-color: $background-color;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* PARALLAX */

.parallax-container-full {
  height: 100%;
}

.parallax-div {
  height: 400px;
}

.parallax {
  height: 100%;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* NAV BAR */

.dark-nav {
  background-color: $dark-pastel-yellow;
}

.light-nav {
  background-color: $light-pastel-yellow;
}

.centre-align {
  width: 50%;
  left: 0;
  text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* NAV TEXT COLORS */

.dark-text {
  color: $dark-text-color !important;
  font-weight: 300;
}

.light-text {
  color: $light-text-color !important;
  font-weight: 200;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* NAV PUSHPIN RIGHT ELEMENT */

.pushpin-demo-nav-left {
  position: absolute;
  left: 0;
}

.overflow-hidden {
  overflow-x: hidden;
  overflow-y: visible;
}

.pushpin-demo-nav-right {
  width: 50%;
  position: relative;
  left: 50%;
  z-index: 10;
  transform: translateX(100%);
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* NAV PUSHPIN ANIMATIONS */

.slide-in-right{
  animation: slide-in-right 1s forwards;
}

.slide-out-right {
  animation: slide-out-right 1s forwards;
}

@keyframes slide-in-right {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0%); }
}

@keyframes slide-out-right {
  0% { transform: translateX(0%); }
  100% { transform: translateX(100%); }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* CONTAINER */

.container {
  text-align: center;
}

.container ul {
  display: inline-block;
  text-align: initial;
}

/* ------------------------------------------------------------------------------------------------------------------ */
