/* ------------------------------------------------------------------------------------------------------------------ */

.component {
  color: $search-field-text;
}

html, body, .block {
  height: 100%;
}


.parallax-container-full {
  height: 100%;
}

.parallax-div {
  height: 400px;
}

.parallax {
  height: 100%;
}


/* ------------------------------------------------------------------------------------------------------------------ */
