/* ------------------------------------------------------------------------------------------------------------------ */
/* CONTACT ELEMENTS */

.email-padding {
  padding-top: 30px;
}

.email-padding-med {
  padding-top: 50px;
}

.icon-spacing {
  padding-left: 10px;
  padding-right: 10px;
}

.divider-blue {
  background-color: $dark-text-color
}

.email-padding-end {
  padding-top: 40vh;
}

.email-padding-mobile {
  padding-top: 90vh;
}

/* ------------------------------------------------------------------------------------------------------------------ */
