/* ------------------------------------------------------------------------------------------------------------------ */
/* CONTAINER */

.top-padding {
  height: 10%;
  min-height: 50px;
}

.projects-container {
  padding-top: 20px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
