/* ------------------------------------------------------------------------------------------------------------------ */
/* LOGIN PAGE COMPONENTS */

.login-header {
  text-align: center;
  padding-top: 20px;
  font-size: 2rem;
  color: $dark-pastel-yellow-text;
}

.login-component {
  top: 30%;
  position: absolute;
  width: 100%;
}

.login-component-fill {
  background-color: $light-pastel-yellow;
  border: 1px solid;
  border-color: $dark-pastel-yellow-border;
}

.submit-button {
  width: 100%;
  margin-bottom: 10px;
}
