/* ------------------------------------------------------------------------------------------------------------------ */
/* PROJECTS */

.title-icon-box {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
}

.title-icon-box-text {
  font-size: 0.8rem;
  margin-top: -15px;
  margin-left: 2px;
  font-weight: 400;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.no-select:hover {
  cursor: default;
}

// Ensure that each pair of columns (representing a project) stays aligned regardless of their content's length.
.project-row {
    display: flex;
    flex-wrap: wrap;
}
.project-col {
    display: flex;
    flex-direction: column;
}


/* ------------------------------------------------------------------------------------------------------------------ */
