/* ------------------------------------------------------------------------------------------------------------------ */
/* PROJECTS */

.title-icon-box {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
}

.title-icon-box-text {
  font-size: 0.8rem;
  margin-top: -15px;
  margin-left: 2px;
  font-weight: 400;
}

/* ------------------------------------------------------------------------------------------------------------------ */
