<div data-scroll-speed="-2" class="parallax-container parallax-container-full hide-on-med-and-down">
  <div class="parallax">
    <img class="home-image" src="../../assets/images/home.jpg">
    <div class="home-overlay"></div>
  </div>
</div>

<div class="hide-on-large-only full-img-container">
  <img class="home-image img-fit" src="../../assets/images/home.jpg">
  <div class="home-overlay"></div>
</div>

<div data-scroll-speed="-3.5" class="home-text-container">
  <div class="home-text">
    Alberto Spina
  </div>
  <div class="home-text-small">
    Future Computer Scientist
  </div>

  <a id="about-arrow" href="#about" class="home-arrow">
    <i class="large material-icons">
      arrow_drop_down_circle
    </i>
  </a>
</div>

<app-about></app-about>

<app-projects></app-projects>

<app-contact></app-contact>

